.DS_Store
logs
*.log
npm-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
node_modules/
*.tsbuildinfo
.npm
.eslintcache
.node_repl_history
*.tgz
/src/helpers/**/*.js
/src/components/**/*.js
/src/**/*.d.ts
**/*.map
**/*.tsx
